<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div>
            <a href="/animals/new"><button>Create A New Animal</button></a>
          <% for (Animals) { %>
  
          <article>
            <a href="/animals/<%= anaimal._id %>">
              <h2>
                <%= animal.name %> - <%= animal.warm_blooded ? "mammal" : "Not mammal" %>
              </h2>
            </a>
          </article>
  
          <% } %>
        </div>
      </main>
  </body>
</html>