<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div>
            <a href="/animals/new"><button>Create A New Animal</button></a>
          <% for (var i = 0; i < animals.length; i++) { %>
  
          <article>
            <a href="/animals/<%= animals[i]._id %>">
              <h2>
                <%= animals[i].species %> - <%= animals[i].extinct ? "yes" : "Not extinct" %>
              </h2>
            </a>
          </article>
  
          <% } %>
        </div>
      </main>
  </body>
</html>